
{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>


{% endfor %}

{% if full_name %}
    <h1>Update User! </h1>
    <br/> <br/>
 <br/> <br/> <br/>
<table class="table table-hover table-bordered table-striped">
{% for our_user in our_users %}
    <tr>
    <td>{{our_user.id}} - {{our_user.full_name}} - {{our_user.email}} - {{our_user.password}} - {{our_user.master_name}} </td>
    </tr>
{% endfor %}
</table>
{% else %}
    <h1>Update User...</h1>
    <br/>

    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">


    <form action="/update/{{name_to_update.id}}" method="POST">
        {{ form.hidden_tag() }}

        {{ form.full_name.label(class="form-label") }}

        {{ form.full_name(class="form-control", value=name_to_update.full_name) }}
        <br/>

        {{ form.email.label(class="form-label") }}

        {{ form.email(class="form-control", value=name_to_update.email) }}
        <br/>

        {{ form.password.label(class="form-label") }}

        {{ form.password(class="form-control", value=name_to_update.password) }}

        <br/>

        {{ form.master_name.label(class="form-label") }}

        {{ form.master_name(class="form-control", value=name_to_update.master_name) }}
        <br/>

        {{ form.submit(class="btn btn-primary") }}

    </form>
</div>
<br/> <br/> <br/>
{% endif %}

{% endblock %}