
{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>


{% endfor %}

{% if id==current_user.id %}

    <h1>Update User...</h1>
    <br/><br/>

    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">


    <form action="/update/{{name_to_update.id}}" method="POST">
        {{ form.hidden_tag() }}

        {{ form.full_name.label(class="form-label") }}

        {{ form.full_name(class="form-control", value=name_to_update.full_name) }}
        <br/>

        {{ form.email.label(class="form-label") }}

        {{ form.email(class="form-control", value=name_to_update.email) }}
        <br/>


        {{ form.master_name.label(class="form-label") }}

        {{ form.master_name(class="form-control", value=name_to_update.master_name) }}
        <br/>

        {{ form.submit(class="btn btn-primary", value="Submit") }}

        <a href="{{url_for('delete', id=id)}}" class="btn btn-danger"> Delete </a>

    </form>
</div>
<br/> <br/> <br/>
{% else %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
        You cannot perform this action!
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<h2>ACCESS DENIED!</h2>

{% endif %}

{% endblock %}