{% extends 'base.html' %}

{% block content %}


{% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>


{% endfor %}


 <h1>Add your Mininet Topology</h1>
    <br/>

    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">


    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.topology_name.label(class="form-label") }}

        {% if form.topology_name.errors %}
            {{ form.topology_name(class="form-control is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.topology_name.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
            {{ form.topology_name(class="form-control") }}
        {% endif %}
        <br/>

        {{ form.topology_description.label(class="form-label") }}

        {{ form.topology_description(class="form-control", rows="5") }}

        <br/>

        {{ form.topology_controllers_nr.label(class="form-label") }}<span class="hint" title="Hint: If you don't want to use any other controllers, you can set this field to 0.
If no controllers are provided, one will be used by default.">?</span>

        {{ form.topology_controllers_nr(class="form-control") }}
        <br/>

        {{ form.topology_controllers_names.label(class="form-label") }}<span class="hint" title="Hint: Please provide the controller's names separated by ','">?</span>

        {% if form.topology_controllers_names.errors %}
            {{ form.topology_controllers_names(class="form-control is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.topology_controllers_names.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
            {{ form.topology_controllers_names(class="form-control") }}
        {% endif %}

        <br/>


        {{ form.topology_routers_nr.label(class="form-label") }}<span class="hint" title="Hint: If you don't want to use any routers, you can set this field to 0">?</span>

        {{ form.topology_routers_nr(class="form-control") }}


        <br/>

        {{ form.topology_routers_names.label(class="form-label") }}<span class="hint" title="Hint: Please provide the router's names separated by ','">?</span>

        {% if form.topology_routers_names.errors %}
            {{ form.topology_routers_names(class="form-control is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.topology_routers_names.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
            {{ form.topology_routers_names(class="form-control") }}
        {% endif %}

        <br/>



        {{ form.topology_switches_nr.label(class="form-label") }}<span class="hint" title="Hint: Please provide the number of switches, it must be greater than 0">?</span>

        {{ form.topology_switches_nr(class="form-control") }}

        <br/>

        {{ form.topology_switches_names.label(class="form-label") }}<span class="hint" title="Hint: Please provide the switches names separated by ','">?</span>


        {% if form.topology_switches_names.errors %}
            {{ form.topology_switches_names(class="form-control is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.topology_switches_names.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
            {{ form.topology_switches_names(class="form-control") }}
        {% endif %}


        <br/>

        {{ form.topology_hosts_nr.label(class="form-label") }}<span class="hint" title="Hint: Please provide the number of hosts, it must be greater than 0">?</span>

        {{ form.topology_hosts_nr(class="form-control") }}

        <br/>

        {{ form.topology_hosts_names.label(class="form-label") }}<span class="hint" title="Hint: Please provide the hosts names separated by ','">?</span>

        {% if form.topology_hosts_names.errors %}
            {{ form.topology_hosts_names(class="form-control is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.topology_hosts_names.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
            {{ form.topology_hosts_names(class="form-control") }}
        {% endif %}

        <br/>

        {{ form.topology_connections_text.label(class="form-label") }}<span class="hint" title="Hint: Please provide the connections in this format 'device1<->device2'. No duplicate lines will be allowed.
Please use all your devices mentioned earlier. If there are devices unused, an error will be raised when the form is submitted.">?</span>

        {% if form.topology_connections_text.errors %}
            {{ form.topology_connections_text(class="form-control is-invalid", rows="7") }}
        <div class="invalid-feedback">
            {% for error in form.topology_connections_text.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
            {{ form.topology_connections_text(class="form-control", rows="7") }}
        {% endif %}


        <br/>

        {{ form.topology_setup_text.label(class="form-label") }}

        {% if form.topology_setup_text.errors %}
            {{ form.topology_setup_text(class="form-control is-invalid", rows="7") }}
        <div class="invalid-feedback">
            {% for error in form.topology_setup_text.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
            {{ form.topology_setup_text(class="form-control", rows="7") }}
        {% endif %}
        <br/>
        <p><strong>Hint:</strong> In this section, you should provide details about the hosts, controllers (if they are used) and routers (if they are used).
        Here are a few examples of how you can describe the devices:</p>
        <p>- Host lines: <strong>device_name - ip_address/netmask default_route: (None or an ip_address) MAC: (random or MAC address)</strong></p>
        <p><strong>e.g. <i>h1 - 192.168.0.1/24 default_route: 192.168.0.2 MAC: 00:11:22:33:44:55</i></strong></p>
        <p>- Controllers lines: <strong>device_name - ip_address:port</strong> or <strong>device_name - port</strong></p>
        <p><strong>e.g. <i>c2 - 128.0.0.1:555</i></strong></p>
        <p>- Routers lines: <strong>device_name - interface_name ip_address/netmask</strong> or <strong>device_name - ip_address/netmask</strong></p>
        <p><strong>e.g. <i>r1 - eth0 192.168.0.1/24</i></strong></p>
        <br/>

        {{ form.submit(class="btn btn-primary") }}

    </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='topology_description', custom_config="fillEmptyBlocks: 'false'") }}
<!--        {{ ckeditor.config(name='topology_connections_text', custom_config="fillEmptyBlocks: 'true'") }}-->
<!--        {{ ckeditor.config(name='topology_setup_text', custom_config="fillEmptyBlocks: 'false'") }}-->
</div>
 <br/> <br/> <br/>



{% endblock %}