{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>


{% endfor %}

<br/>

<h2>Edit Topology</h2>
<div class="shadow p-3 mb-5 bg-body-tertiary rounded">

     <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.topology_name.label(class="form-label") }}

        {{ form.topology_name(class="form-control") }}
        <br/>

        {{ form.topology_description.label(class="form-label") }}

        {{ form.topology_description(class="form-control", rows="5") }}

        <br/>

        {{ form.topology_controllers_nr.label(class="form-label") }}

        {{ form.topology_controllers_nr(class="form-control") }}


        <br/>

        {{ form.topology_controllers_names.label(class="form-label") }}

        {% if form.topology_controllers_names.errors %}
            {{ form.topology_controllers_names(class="form-control is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.topology_controllers_names.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
            {{ form.topology_controllers_names(class="form-control") }}
        {% endif %}

        <br/>


        {{ form.topology_switches_nr.label(class="form-label") }}

        {{ form.topology_switches_nr(class="form-control") }}

        <br/>

        {{ form.topology_switches_names.label(class="form-label") }}


        {% if form.topology_switches_names.errors %}
            {{ form.topology_switches_names(class="form-control is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.topology_switches_names.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
            {{ form.topology_switches_names(class="form-control") }}
        {% endif %}


        <br/>

        {{ form.topology_hosts_nr.label(class="form-label") }}

        {{ form.topology_hosts_nr(class="form-control") }}

        <br/>

        {{ form.topology_hosts_names.label(class="form-label") }}

        {% if form.topology_hosts_names.errors %}
            {{ form.topology_hosts_names(class="form-control is-invalid") }}
        <div class="invalid-feedback">
            {% for error in form.topology_hosts_names.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
            {{ form.topology_hosts_names(class="form-control") }}
        {% endif %}

        <br/>

        {{ form.topology_connections_text.label(class="form-label") }}

        {{ form.topology_connections_text(class="form-control", rows="5") }}

        <br/>

        {{ form.topology_setup_text.label(class="form-label") }}

        {{ form.topology_setup_text(class="form-control", rows="5") }}

        <br/>

        {{ form.submit(class="btn btn-primary") }}

    </form>
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='topology_description') }}

</div>

    <a href="{{url_for('topologies')}}" class="btn btn-outline-secondary btn-sm">Back</a>
<br/>



{% endblock %}