<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{url_for('index')}}">Disertatie</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Home</a>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('dashboard')}}">Dashboard</a>
        </li>
        {% if current_user.email == "test@test.com" %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('admin')}}">Admin</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('logout')}}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('add_user')}}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('login')}}">Login</a>
        </li>
        {% endif %}
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('add_topology')}}">Create Topology</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('create_topology')}}">Upload Topology</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('topologies')}}">Topologies Created</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('topologies_uploaded')}}">Topologies Uploaded</a>
        </li>
        {% endif %}
      </ul>
      <form method="POST" action="{{url_for('search')}}" class="d-flex" role="search">
        {{ form.hidden_tag() }}
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>