{% extends 'base.html' %}

{% block content %}
<head>
    <title>Log Viewer</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css')}}">
</head>
<h1>Executing {{topology_name}}</h1>
<div class="terminal">
    <div class="terminal-header">Mininet Topology - {{topology_name}}</div>
    <div id="log-content"></div>

    <div class="input-container">
        <input type="text" id="message-input" placeholder="Enter a command" style="display: none;">
        <button id="send-button" style="display: none;">Send</button>
    </div>
</div>

<div class="button-container">
    <button id="start-script-button">Start Script</button>
    <button id="stop-command-button" style="display: none;">Stop Command</button>
    <button id="stop-process-button" style="display: none;">Stop Process</button>
</div>

<div class="capture-container" style="display: none;">
    <div class="dropdown-container">
        <select id="interface-select">
            <!-- Options will be populated dynamically -->
        </select>
        <input type="text" id="capture-name-input" placeholder="Enter Capture Name">
        <button id="start-capture-button">Start Capture</button>
        <button id="stop-capture-button" style="display: none;">Stop Capture</button>
        <div id="spinner" class="spinner" style="display: none;"></div>
    </div>
</div>



<!-- Table to display captures -->
    <table id="captures-table" class="captures-table">
        <thead>
            <tr>
                <th>Capture Name</th>
                <th>Date Created</th>
                <th>Download</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody id="captures-table-body">
                {% if capture_files %}
                {% for file in capture_files %}
                    <tr>
                        <td>{{ file|file_no_extension }}</td>
                        <td>{{ file|file_creation_date }}</td>
                        <td><button>Download</button></td>
                        <td><button onclick="deleteCapture('{{file|file_no_extension}}')">Delete</button></td>
                    </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="4">No captures available for this topology.</td>
                </tr>
                {% endif %}
        </tbody>
    </table>



<script src="{{ url_for('static', filename='styles/styles.js') }}"></script>
{% endblock %}